* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: black;
  color: white;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.body_loguin {
  height: 100vh;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_logui {
  height: 15vh;
}

h1 {
  font-size: 1.5rem;
}

.h1_ingreso {
  margin-bottom: 10px;
}

.logo_shadow {
  width: 200px;
  height: 100px;
}
main {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 60px;
}

.main_loguin {
  height: 70vh;
}

.div_form {
  background-color: black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 40px;
  text-align: center;
  padding: 40px;
  border: 5px double rgb(120, 14, 14);
  border-radius: 5px;
}

.input_text {
  padding: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 30px 10px rgb(120, 14, 14);
}

#boton_ingresar {
  background-color: rgb(120, 14, 14);
  border: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 2rem;
  border-radius: 5px;
}

#boton_ingresar:hover {
  background-color: black;
  cursor: pointer;
  border: 1px solid rgb(120, 14, 14);
  color: rgb(120, 14, 14);
}
section {
  background-color: black;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 20px gray;
}

.imagen_perfil {
  margin-top: 10px;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  box-shadow: 0px 0px 20px gray;
}

.logo_video {
  width: 50px;
  height: 50px;
}
section article {
  width: 100%;
  border-radius: 10px;
}
section article div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin: 1px;
}

section article h3 {
  background-color: white;
  font-size: 1.8rem;
  color: black;
  margin: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ejercicio {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ejercicio p {
  font-size: 1.5rem;
  padding: 5px 10px 5px 10px;
  padding-right: 0px;
  margin-top: 5px;
}

.ejercicio p span {
  padding: 5px;
  font-style: italic;
  font-weight: 100;
}

section article div p {
  font-size: 1rem;
}

.global_eje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 11, 26);
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 5px;
}

.footer_rutina {
  position: relative;
}

.footer_rutina a {
  text-decoration-line: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: black;
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 20px rgb(20, 20, 20);
}
.wsp {
  width: 65px;
  height: 65px;
  padding: 0px;
  padding-left: 5px;
  margin: 0px;
  border: none;
}

.footer_loguin {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 40px;
}
.icono_instagram {
  width: 50px;
  height: 50px;
}
